.parent {
  display: flex;
  background-color: rgb(173, 129, 62);
  border: 1px solid brown;
  width: 1200px;
  height: 100%;
  flex-flow: column;
  flex-flow: nowrap;
  justify-content: center;
}

.child {
  background-color: wheat;
  border: 1px black;
  width: 50px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 10px;
}